<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="grunge-background"></div>
    <nav>
      <ul class="nav-list">
        {% for item in site.data.nav %}
          <li class="nav-item">
            <a href="{{ item.link }}" class="nav-link {% if page.url == item.link %}current{% endif %}">{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    {{ content }}
  </body>
</html>




<script>
  document.addEventListener("DOMContentLoaded", function () {
    const grungeBackground = document.getElementById("grunge-background");

    function generateGrunge() {
      const grungeCount = 100;
      grungeBackground.innerHTML = "";

      for (let i = 0; i < grungeCount; i++) {
        const div = document.createElement("div");
        div.style.position = "absolute";
        div.style.top = Math.random() * 100 + "%";
        div.style.left = Math.random() * 100 + "%";
        div.style.width = Math.random() * 2 + "px";
        div.style.height = Math.random() * 200 + "px";
        div.style.backgroundColor = `rgba(80, 80, 80, ${Math.random() * 0.5})`;
        div.style.transform = `rotate(${Math.random() * 360}deg)`;

        grungeBackground.appendChild(div);
      }
    }

    generateGrunge();

    window.addEventListener("resize", generateGrunge);
  });
</script>
